<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
  <div class="">
    <div class="form-box">
      <h1 class="">Create New Account</h1>
      <% if(error.length > 0){%>
        <p class="error" ><%= error %></p>
      <% } %>
      <form action="/register" method="post">
        <input class="" type="email" name="email" placeholder="Email">
        <input class="" type="text" name="fullName" placeholder="Full Name">
        <input class="" type="text" name="username" placeholder="username">
        <input class="" type="password" name="password" placeholder="password">
        <input class="" type="number" name="contact" placeholder="Contact ">
        <input class="" type="submit" value="Create new Account">
      </form>
      <a class="" href="/login">Already have Account ?</a>
    </div>
  </div>
</body>
</html>
