<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full px-10 py-3 flex justify-between bg-zinc-800 text-white items-center">
    <h3>Resume-Builder</h3>
    <div class=" flex gap-10 items-center">
      <a class="text-purple-500 text-shadow" href="/profile">Profile</a>
      <a class="text-purple-500 text-shadow"  href="/login">Login</a>
      <a class="px-3 py-2 bg-purple-700 text-white rounded-lg" href="/register">Get Started</a>
    </div>
</div>
<!--  Main of the Home Pages -->
<div class="para">
  <h2>
    Pick one of many world-class templates and build your resume in minutes
  </h2>
</div>
<para class="para2"
  >Our online resume builder offers a quick and easy way to create your
  professional resume from over 30 design templates.</para
>

<div class="slide-track">
  <div class="slide1">
    <img id="_img" src="/images/62_Man Left.png" alt="" />
  </div>
  <div class="slide2">
    <img id="_img" src="/images/0f_women.jpeg" alt="" />
  </div>
</div>
<div class="vid">
  <video autoplay loop muted>
    <source src="work_-_87593 (1440p).mp4" type="video/mp4" />
    <!-- Add additional source elements for other video formats if needed -->
    Your browser does not support the video tag.
  </video>
</div>

<div class="center">
  <h1>Land your dream job with the help of our resume builder</h1>
</div>

<div class="image">
  <img id="template" src="/images/annie-spratt-hCb3lIB8L8E-unsplash.jpg" alt="" />
</div>

<div class="div3">

  <div class="text">
    <p id="content1">Every detail on your resume, built to perfection</p>
  </div>

  <div class="insert">
    <img id="temp1" src="Untitled design.png" alt="">
    <img id="temp1" src="Untitled design.png" alt="">
    <img id="temp1" src="Untitled design.png" alt="">
  </div>
</div>

  <div class="div4">
     <p id="content2">Get inspired by resume samples from professional resume experts</p>
     <p id="content3" >Search by job title to find resumes from resume experts that can inspire your own resume creation.</p>
  </div>

<link rel="stylesheet" href="/stylesheets/Home.css" />
</body>
</html>