<% include ./partials/header.ejs %>
  
  <div class="w-full h-screen bg-zinc-200  flex items-center bg-[url(https://th.bing.com/th/id/OIP.fBhqXcHG66UFYgHcVnpn5AHaEo?rs=1&pid=ImgDetMain)] justify-center shadow-xl">
    <div class="w-[25vw]  bg-white px-20 py-10 rounded-[30px]">
      <h1 class="text-3xl mt-5 text-center font-semibold  text-zinc-700 leading-none">Create New Account</h1>
      <form action="/register" method="post">
        <input class="border-2 rounded-md block w-full mt-2  px-3 py-2" type="email" name="email" placeholder="Email">
        <input class="border-2 rounded-md block w-full mt-2  px-3 py-2" type="text" name="fullName" placeholder="Full Name">
        <input class="border-2 rounded-md block w-full mt-2  px-3 py-2" type="text" name="username" placeholder="username">
        <input class="border-2 rounded-md block  w-full mt-2 px-3 py-2" type="password" name="password" placeholder="password">
        <input class="border-2 rounded-md block w-full mt-2  px-3 py-2" type="number" name="contact" placeholder="Contact ">
        <input class="block  w-full  mt-5 px-3 py-2 bg-purple-700 text-white rounded-full" type="submit" value="Create new Account">
      </form>
      <a class="inline-block mt-2 text-sm font-semibold text-zinc-700 text-center w-full" href="/login">Already have Account ?</a>
    </div>
  </div>
<% include ./partials/footer.ejs %>
<!-- The Files were Imported -->