<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/template.css">
</head>
<body>
    <div class="container">
        <br>
        <h2><b>Choose The Template</b></h2>
        <div class="row">
            <div class="column">
                <a href="/edit">
                    <!-- Template image will be added later -->
                    <img src="/images/Screenshot 2024-04-05 094531.png" alt="">
                </a>
            </div>
            <div>
              
            </div>
            <!-- <div class="column">
                
                <a href="/Resume">
                     Template image will be added later -->
                    <!-- <img src="https://publish.one37pm.net/wp-content/uploads/2020/12/best-anime-movies-on-netflix.jpg" alt="">
                   
                </a>
                
            </div> --> 
        </div>
    </div>
</body>
</html>
